@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor-principal: #966a7e;
    --cor-secundaria: #f3cddb;
    --cor-destaque: #e9567a;
}

body {
    font-family: "Winky Rough", sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque);
}